/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COMMON */

.container {
  background-color: burlywood;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 900px;
  height: 450px;
  background-color: cadetblue;
  position: relative;
}

.slide {
  height: 100%;
  background-color:thistle;
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.5s;
}

.slide.active{
  opacity: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 99;
  cursor: pointer;
  padding: 10px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 30px;
}

.arrow:hover {
  color: rgba(255, 255, 255, 1);
}

.arrow.left {
  left: 20px
}

.arrow.right {
  right: 20px;
}